USE [master]
GO
/****** Object:  Database [ShipCrews]    Script Date: 04/07/2024 06:38:10 ******/
CREATE DATABASE [ShipCrews]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShipCrews', FILENAME = N'C:\Program Files\Microsoft SQL Server 2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\ShipCrews.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShipCrews_log', FILENAME = N'C:\Program Files\Microsoft SQL Server 2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\ShipCrews_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShipCrews].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShipCrews]
GO
/****** Object:  UserDefinedFunction [dbo].[GetCrewRoleCountFunc]    Script Date: 04/07/2024 06:38:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	   CREATE FUNCTION [dbo].[GetCrewRoleCountFunc] 
		(@CrewId INT, @RoleId INT)
		RETURNS INT
		AS
		BEGIN
			DECLARE @Result AS INT=0
			SET @Result = (SELECT COUNT(*) FROM CrewAssignments c, People  p WHERE c.PersonId = p.PersonId AND p.RoleId = @RoleId AND c.CrewId = @CrewId)
			RETURN @Result
		END
GO
/****** Object:  Table [dbo].[People]    Script Date: 04/07/2024 06:38:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[RoleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CrewAssignments]    Script Date: 04/07/2024 06:38:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CrewAssignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CrewId] [int] NULL,
	[PersonId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CK_CrewAssignments_Unique] UNIQUE NONCLUSTERED 
(
	[CrewId] ASC,
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[NeverAssignedPeople]    Script Date: 04/07/2024 06:38:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	   ---------------------------------------------------
       -- Create a view 'NeverAssignedPeople'
	   CREATE VIEW [dbo].[NeverAssignedPeople] AS
			SELECT p.FirstName, p.LastName
			FROM People p
			WHERE p.PersonId NOT IN (SELECT PersonId FROM CrewAssignments)


		-- SELECT * FROM NeverAssignedPeople
		-- SELECT * FROM CrewAssignments
		-- SELECT * FROM People
		-- SELECT PersonId FROM CrewAssignments
		-- SELECT p.FistName, p.LastName
			-- FROM People p 
			-- WHERE p.PersonId NOT IN (3)
		-- SELECT *
			-- FROM People p 
			-- WHERE p.PersonId NOT IN (SELECT PersonId FROM CrewAssignments)
GO
/****** Object:  Table [dbo].[Crews]    Script Date: 04/07/2024 06:38:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crews](
	[CrewId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CrewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 04/07/2024 06:38:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] NOT NULL,
	[Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CrewAssignments]  WITH CHECK ADD FOREIGN KEY([CrewId])
REFERENCES [dbo].[Crews] ([CrewId])
GO
ALTER TABLE [dbo].[CrewAssignments]  WITH CHECK ADD FOREIGN KEY([PersonId])
REFERENCES [dbo].[People] ([PersonId])
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[CrewAssignments]  WITH CHECK ADD  CONSTRAINT [CheckSkipper] CHECK  (([dbo].[GetCrewRoleCountFunc]([CrewId],(1))<=(1)))
GO
ALTER TABLE [dbo].[CrewAssignments] CHECK CONSTRAINT [CheckSkipper]
GO
USE [master]
GO
